<% @page_title = "Latest Activity" %>

<% content_for :header do %>
  <nav class="align-start">
    <header class="flex flex-column center">
      <div class="flex align-center gap-half justify-center">
        <%= link_to "Collections", root_path %>
        <%= link_to "Activity", events_path %>
      </div>
      <h1 class="txt-x-large"><%= @page_title %></h1>
    </header>
  </nav>
<% end %>

<div id="activity" class="events__index flex flex-column gap">
  <%= render "events/day", activity_day: @activity_day, next_day: @next_day, events: @events %>
</div>

<%= event_next_page_link(@next_day) %>
